
.question-form {
    padding: 8px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.form-body {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
.form-footer {
    display: flex;
    padding: 10px 5px;
    flex-direction: column;
}
label {
    display: block;
    margin: 5px 0;
}
input::-webkit-input-placeholder
{
    color: gray;
    transition: color 1s;
}
input:focus::-webkit-input-placeholder {
    color: transparent;;
}

input {
    padding: 8px 8px;
    transition: color 1s;
    font-size: 1rem;
    width: 80%;
}

.question {
    display: block;
    width: 100%;
}
.answer {
    display: block;
    margin-top: 2rem;
}

.submit {
    background-color: #44c767;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.submit {
    align-self: center
}
.circle-plus {
    background-color: #44c767;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 4px 14px 7px 14px;
    margin: 0 10px;
}
li {
    padding: 8px 0;
}
.circle-minius {
    background-color: red;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 0px 7px 3px 7px;
    margin: 0 10px;
}



